@page
@using Test.Components
@model EditModel
@{
    ViewData["Title"] = "Update employee";
}

<h1>@ViewData["Title"]</h1>

<form>
    <div class="mb-3">
        <label for="inputName">Picture</label>
        <i class="bi bi-file-person"></i>
    </div>
    <div class="mb-3">
        <label for="inputName">Name</label>
        <input id="inputName" class="form-control col-md-6" placeholder="Employee full name" value="@Model.Employee.Name" />
    </div>
    <div class="mb-3">
        <label for="inputName">E-mail</label>
        <input id="inputEmail" class="form-control col-md-6" placeholder="Employee e-mail address" value="@Model.Employee.Email" />
    </div>
    <div class="mb-3">
        <label for="inputDepartment">Department</label>
        <input id="inputDepartment" class="form-control col-md-6" placeholder="Employee department" value="@Model.Employee.Department" />
    </div>
    <div class="mb-3">
        <label for="inputInterests">Interests:</label>
        <div class="form-check">
            <span class="col-sm-1" />
            <input class="form-check-input" type="checkbox" value="mac" name="checkboxMac" id="checkboxMac" checked="@(@Model.Employee.IsMacUser)" />
            <label for="checkboxMac"><i class="bi bi-apple"> Mac user</i></label>
        </div>
        <div class="form-check">
            <span class="col-sm-1" />
            <input class="form-check-input" type="checkbox" value="win" name="checkboxWindows" id="checkboxWindows" checked="@(@Model.Employee.IsWindowsUser)" />
            <label for="checkboxWindows"><i class="bi bi-microsoft"> Windows user</i></label>
        </div>
    </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary btn-sm">Save</button>
    <a type="button" class="btn btn-primary btn-sm" href="~/">Cancel</a>
  </div>    
</form>
